.comment{
  display: flex;
  flex-direction: row;

}

.comment .details {
  background: rgb(231, 231, 231);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.comment .details label{
  font-weight: bold;
  margin-right: 5px;
}
