.post{
  margin-bottom: 20px;
  background: white;
}
.post-person{
  display: flex;
  flex-direction: row;
}

.post-person .details{
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #9a9a9a;
  line-height: 14px;
}

.post-person .details label:first-child{
  font-weight: bold;
  color: black;
  font-size: 14px;
  margin-bottom: 5px;
}

.post-content{
  margin: 10px 0 0 20px;
  line-height: 24px;
}


